.footer-seccion{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-items: center;
    border-top: 2px solid#A8BDB2;
    padding: 100px 0 25px 0;
    border-bottom: 2px solid #A8BDB2;
}

.titulo-footer{
    color: #a8bdb2;
}

.linone{
    text-decoration: none;
    list-style: none;
    color: black;
    
}
.flex-li{
    display: flex;
    gap: 10px;
    font-size: 0.8rem;
}

.footer-lin{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    font-size: 0.9rem;
    padding: 5px;
}
.logo-lin{
    display: flex;
    justify-content: center;
    align-items: center;
}

.white{
    color: white;
}

@media (max-width:575px) {
    .footer-seccion{
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
    }
}