.img-banner {
    width: 100%;
}

.titulo-container {
    width: 100%;
    background-color: #a8bdb2;
    height: 130px;
}

.texto-inicio {
    padding: 80px;
    font-size: 1rem;
    color: black;
}

.ver-mas {
    width: 100%;
    background-color: #a8bdb2;
}

.grid-inicio {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.text-container {
    /* verde salvia */
    background-color: #FAF9F6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pruebaNu {
    width: 90%;
    margin: auto;
}

.prueba {
    width: 70%;
    display: flex;
    align-items: center;
    margin: auto;
    border: 2px solid black;
    border-radius: 10px;
}

.mi-video {
    width: 100%;
    height: 50%;
}

.btn-inicio {
    padding: 10px 20px;
    font-size: 1.3rem;
    background-color: #a8bdb2;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: black;
    margin-bottom: 20%;
    text-decoration: underline;
}

.btn-inicio:hover {
    color: #85958d;

}

.foto-ali {
    height: 50vh;
    border: 2px solid black;
    margin: 20px;
}

.foto-rutina {
    height: 500px;
}

.foto-omega {
    margin: auto;
}

.ver-mas-btn {
    display: none;
    /* oculto por defecto */
    margin: 1rem auto;
    padding: 0.5rem 1rem;
    background-color: #a8bdb2;
    color: #000;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

.ver-mas-btn {
    display: none;
    /* oculto por defecto */
    margin: 1rem auto;
    padding: 0.5rem 1rem;
    background-color: #fff;
    color: #000;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

@media (max-width: 575px) {
    .grid-inicio {
        grid-template-columns: repeat(1, 1fr);
    }

    .grid-inicio>.text-container {
        order: 2;
    }

    .grid-inicio>.center {
        order: 1;
    }


    .texto-inicio {
        max-width: 90vw;
        margin: auto;
        padding: 1rem;
        font-size: 1rem;
        line-height: 1.6;
        text-align: justify;
    }

    .ver-mas-btn {
        display: block;
    }

    .logo-nuskin {
        width: 200px;
    }

    .extra-texto {
        display: none;
    }

    .extra-texto.mostrar {
        display: block;
    }

    .foto-rutina {
        overflow: hidden;
    }

    .foto-omega {
        overflow: hidden;
    }

    .omega {
        height: 350px;
    }

    .ali {
        overflow: hidden;
    }

    .img-banner {
        height: 30vh;
    }
}