.navBar-container{
    width: 100%;
    height: 150px;
    border-bottom: 2px solid black;
    background-color: 	#a8bdb2;

}

.navBar-content{
    display: flex;
    justify-content: space-around;
    color: 	#A8BDB2;
}
.navbar-text{
    text-decoration: none;
    list-style: none;
    color: black;
}
.navbar-text :hover {
    transition: 0.7s;
    color: white;
    text-decoration: underline;
}

.text-li{
    list-style: none;
    padding-top: 100px;
}

.titulo{
    color: white;
}