.titulo-productos{
        display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #ff7d12;
    background-color: #efe5b587;
    font-size: 2rem;
    height: 200px;
}