.titulo-productos{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: black;
    background-color: #a8bdb2;
    font-size: 2rem;
    height: 200px;
}

.foto-producto{
    height: 300px;
}
.wellSpa{
    overflow: hidden;
}
.textme{
    font-size: 0.8rem;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

